include README.rst
include LICENSE
include requirements.txt
recursive-include ckanext/fcscopendata *.html *.json *.js *.less *.css *.mo *.yml
recursive-include ckanext/fcscopendata/migration *.ini *.py *.mako
